## 3.1 double()

In [1]:
def double(sequence):
    result = []
    for element in sequence:
        result = result + [element * 2]
    return result

a type of "sequence" in python is a list --- [1, 10, 5]

In [2]:
double([1,10,5])

[2, 20, 10]

In [3]:
double([-42,0,42])

[-84, 0, 84]

In [4]:
double([1])

[2]

In [5]:
double([])

[]

In [6]:
double()

TypeError: double() missing 1 required positional argument: 'sequence'

a system for doing arithmetic requires:
1. knowledge of arithmetic
2. expectation that the system can do arithmetic
3. experience with the system

approximate expectations are useful for troubleshooting
* develop code in chunks!

## 3.2 Describing the Function

**intial**: double() takes a list and doubles every element in the list

**more precise**: double() is a function, that takes a list of integers as input, and outputs a list of integers that are double that of the corresponding input element.

* note it does not change the initial list!

In [7]:
x = [1,2,3]

In [8]:
double(x)

[2, 4, 6]

In [9]:
x

[1, 2, 3]

**understanding the "interface" to functions:**
* accept arguments (within defined bounds)
* return values
* separate from *how* the function works

double() does not accept
* no argument (different to empty list [])
* two arguments

In [10]:
double([1,2],[3,4])

TypeError: double() takes 1 positional argument but 2 were given

## Free project: A Modified "Double, Double"

### Task
modify double() to return different output

In [12]:
def triple(sequence):
    result = []
    for element in sequence:
        result = result + [element * 3]
    return result

In [13]:
triple([1])

[3]

In [14]:
triple([1,2,3])

[3, 6, 9]

In [15]:
def add2(seq):
    result = []
    for element in seq:
        result = result + [element + 2]
    return result

In [16]:
add2([2,4,6])

[4, 6, 8]